mixin signinForm()
  form.form(action="/signin", method="POST")
    h2= title
    label(for="email") Email Address
    input(type="email", name="email", id="email", required)
    label(for="password") Password
    input(type="password", name="password", id="password", required)
    input.button(type="submit" value="Sign In →")
